
<h1>Register Student Form</h1>
<hr />
<div>
    <form action="/Students/Register" method="post">
        <table>
            <tr>
                <td>Student Name</td>
                <td><input type="text" name="Name" id="Name" /></td>
            </tr>
            <tr>
                <td>Student Email</td>
                <td> <input type="text" name="email" id="email" /></td>
            </tr>
            <tr>
                <td>Student Mobile No</td>
                <td> <input type="text" name="MobNo" id="MobNo" /></td>
            </tr>
            <tr>
                <td>Student Address</td>
                <td> <input type="text" name="address" id="address" /></td>
            </tr>
            <tr>
                <td>Student fee</td>
                <td> <input type="text" name="fees" id="fees" /></td>
            </tr>




        </table>
        <button type="submit" name="submit" id=" submit" class="btn btn-success">Submit</button>
    </form>
</div>