
<h1>Update Student Form</h1>
<hr />
<div>
    <form action="/Students/Update" method="post">
        <table>
            <tr>
                <td>Student id</td>
                <td><input type="number" name="studid" id="id" /></td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td><input type="text" name="Name" id="Name" /></td>
            </tr>
            <tr>
                <td>Student Email</td>
                <td> <input type="text" name="email" id="email" /></td>
            </tr>
            <tr>
                <td>Student Mobile No</td>
                <td> <input type="text" name="MobNo" id="MobNo" /></td>
            </tr>
            <tr>
                <td>Student Address</td>
                <td> <input type="text" name="address" id="address" /></td>
            </tr>
           
            <tr>
                <td>Student status</td>
                <td><input type="text" name="status" id="status" /></td>
            </tr>




        </table>
        <button type="submit" name="submit" id=" submit" class="btn btn-success">Submit</button>
    </form>
</div>
